input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.passwordicon{
  position: relative;
    float: right;
    top: -41px;
    right: 10px;
}